@use '../../../scss/mixins' as *;
@use '../../../scss/custom' as *;

.catalog {
    justify-content: space-between;
    margin: 0;
    width: 100%;

    .btn {
        background: linear-gradient(to right, rgba($primary, 1), rgba($secondary, 1));
        border: 0;
        padding: 2px 4px;
    }
}