

.filter-main {
    width: 20%;
    height: 100%;
    .color-red {
        color: red;
    }
    .color-blue {
        color: blue;
    }
    .color-black {
        color: black;
    }
    .color-pink {
        color: rgb(241, 149, 164);
    }
    .color-brown {
        color: brown;
    }
    .color-white {
        color: rgb(35, 35, 35);
    }
    .color-gray {
        color: gray;
    }
}