

.filter-main {
    width: 20%;
    height: 100%;
    .filter-contain {
        margin: 0 auto;
        .filter-colors {
           padding: 0 30px;
        }
       
    }
    .filter-prices {
        padding: 0 30px;
     }
    .color-red {
        color: red;
    }
    .color-blue {
        color: blue;
    }
    .color-black {
        color: black;
    }
    .color-pink {
        color: rgb(241, 149, 164);
    }
    .color-brown {
        color: brown;
    }
    .color-white {
        color: rgb(35, 35, 35);
    }
    .color-gray {
        color: gray;
    }
}