@import '../../../scss/custom';
 
.filter-main {
    height: 100%;
    .reset-x:hover {
        cursor: pointer;
    }
    ul {
        padding-left: 8px;
        li {
            list-style-type: none;
            width: 100%;
            button {
                width: 100%;
                font-size: 20px;
                svg {
                    display: none;
                }
                &.selected {
                background-color: $gray-400;
 
                    svg {
                        display:block;
                    }
                }
            }
            button:hover {
                background-color: $gray-400;
            }
        }
    }
}
