@use '../../../../scss/mixins' as *;
@use '../../../../scss/custom' as *;

    .card-container {
        justify-content: space-around;

        .card-main {
            width: 88%;
            height: 580px;
            padding-bottom: 20px;
            // overflow: hidden;

            .card-img {
                min-height: 320px;
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }

    .btn {
        background: linear-gradient(to right, rgba($primary, 1), rgba($secondary, 1));
        border: 0;
        padding: 2px 4px;
    }
