@use '../../../../scss/mixins' as *;
@use '../../../../scss/custom' as *;

    .card-container {
        justify-content: space-around;

        .card-content {
            width: 100%;
            height: 560px;
            padding-bottom: 20px;
            // overflow: hidden;

            .card-img {
                height: 60%;
            overflow: hidden;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            div {
                position: relative;
                height: 50%;
                button {
                    position: absolute;
                    width:50%;
                    margin: 0 auto;
                    bottom: 0;
                }
            }
        }
    }

    .btn {
        background: linear-gradient(to right, rgba($primary, 1), rgba($secondary, 1));
        border: 0;
        padding: 2px 4px;
    }
