 .main-page {
        position: relative;
        min-height: 90vh;
        padding-top: 70px;
        width: 100%;
        .right-s {
            margin: 20px 0;
        }
    }

    @media (max-width: 767px) {
        .main-page {
            margin: 0;
            .filter-component {
                position: absolute;
                background-color: white;
                z-index: 10;
                left: 0;
                top: 0px;
                padding-top: 40px;
                display: block;
                width: 100%;
                display: block;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s ease-in-out, visibility 0.3 ease-in-out;
            &.show {
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
