

    .main-page {
        position: relative;
        min-height: 90vh;
        padding-top: 70px;
        width: 100%;
        .right-s {
            margin: 20px 0;
        }
        .filter-component {
            width: 20%;
        }
    }

    @media (max-width: 767px) {
        .main-page {
            margin: 0;
            .filter-component {
                position: absolute;
                background-color: white;
                z-index: 10;
                left: 0;
                top: 40px;
                padding-top: 40px;
                display: block;
                width: 100%;
            }
        }
       
    }
