@use '../../scss/custom' as *;
@use '../../scss/mixins' as *;


.navbar {
    background: linear-gradient(to right,rgba($primary, 1),rgba($secondary, 1));
  
    .container {
        a {
            // overflow: hidden;
            img {
                height: 10%;
                width: 8%;
                object-fit: cover;
                background-color: red;
                color: red;
                // background-color: transparent;
            }
        }
        ul {
            li {
                .nav-link {
                    color: white;
                }
            }
        }
    }
}