@use '../../scss/custom' as *;
@use '../../scss/mixins' as *;


.nav-main {
    background: linear-gradient(to right, rgba($primary, 1), rgba($secondary, 1));

    .nav-container {
        width: 100%;

        a {
            width: 20%;

            // overflow: hidden;
            img {
                height: 18%;
                width: 18%;
                object-fit: cover;
            }
        }

        .nav-div-ul {
          width: 100%;
            .nav-ul {
                font-size: 26px;
                width: 100%;
                .nav-ul-li {
                    padding: 0 0.9rem;
                }
            }

        }
    }
}