@use '../../scss/custom' as *;
@use '../../scss/mixins' as *;


.nav-main {
    background: linear-gradient(to right, rgba($primary, 1), rgba($secondary, 1));

    .nav-container {
        width: 100%;
        a {
            width: 20%;
            // overflow: hidden;
            img {
                height: 18%;
                width: 18%;
                object-fit: cover;
            }
        }

        .nav-div-ul {
          width: 100%;
            .nav-ul {
                font-size: 26px;
                width: 100%;
                .nav-ul-li {
                    padding: 0 0.9rem;
                }
                .nav-ul-li:hover {
                    cursor: pointer;
                    background-color: rgba(92, 92, 92, 0.1);
                    transition: ease-in-out 0.2s;
                    transform: scale(1);
                    border-radius: 20%;
                    a {
                        font-weight: 500;
                    }
                }
            }

        }
    }
}

@media (max-width: 767px) {
   .nav-main {
    .nav-container {
        .nav-div-ul{
          .nav-ul{
           align-items: end;
          }
        }
    }
   }
   
}